/* Base Styles */ 

* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}/* Base Styles */ 

* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}

/* Responsive Stuff Here! */
/*Laptop 1024 px*/
@media (min-width: 1024px) {
    
    .sidebar{
        width: 100%;
        margin: 15px;
    }
    main{
        display: flex;
        justify-content: space-between;
    }
    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: none;
    }
    header ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
    }
    header a {
        border:none;
        margin-left: 20px;
    }
    header .title {
        margin-right: auto;
        margin-left: 20px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;                          /*the gap between grids*/
    }
}
/*Tablet 768px*/
@media (min-width:768px) {
    main{
        font-size: 21px;
    }
    .title{
        text-align: center;
        background-color: #0b00006e;
    }
    header ul{
        display: flex;
        justify-content: space-between;
    }
    header a{
        border: none;
    }
    h1,h2{
        text-align: center;
    }
}